body {
    margin: 1px;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom,#90017F, #6a11cb, #2575fc);
  }
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garantir que a altura ocupe toda a visualização da tela */
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(160, 50, 145);
    padding: 10px;
    color: #fff;
    z-index: 1000;
   
  }
  .carrossel{
    margin-left: 500px;
    width: 100px
  }
  .carrossel .carousel{
    display:flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 330px;
    height: 570px;
    margin-top: 70px;
  }
  .carrossel .carousel::-webkit-scrollbar {
    display: none;
  }
  .carrossel .carousel .item {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    width: 300px;
    flex: none;
    border: solid;
    border-color: lightgray;
    border-width: 6px;
  }
  .carrossel .carousel .item .imag img{
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }  
  .carrossel .buttons {
    width: 100%;
    align-items: center;
    margin-top: -400px;
  }
  .carrossel .buttons button {
    background-color: #8e24aa;
    border: solid;
    border-width: 1px;
    border-color:#fff;
    width: 40px;
    height: 40px;
    border-radius: 50px;

  }
  .carrossel .buttons button:first-child{
    margin-left: -587px;
    margin-top: 90px;
  }
  .carrossel .buttons button{
    margin-right: 169px;
    margin-top: -48px;
  }
  .carrossel .carousel .item .info {
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .carrossel .carousel .item .info span{
    display:block;
    text-align: center;
    color: #1e1e1e;
    padding: 5px;
    border-radius: 10px;
  }
  .carrossel .carousel .item .info .name{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0
  }
  .carrossel .carousel .item .info .texto{
    font-size: 1.2rem;
    flex-grow: 1;
  }
  .carrossel .carousel .item .info .butao{
    font-size: 1.55rem;
    flex-grow: 1;
    background-color: #8e24aa;
    border-radius: 22px;
    color: #fff;
    margin-top: 8px;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .B{
    height: 100px;
  }
   
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-left:90px;
  }
   
  .search {
    display: flex;
    align-items: center;
    height: 10px;
  }
   
  .search input {
    padding: 5px;
    border-radius: 50px;
    border: none;
  }
   
  .login-btn1 {
    background-color: #00bfa5;
    color: white;
    border: none;
    padding: px px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    padding: -6px;

  }
   
  .main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
  }
   
  .intro {
    text-align: left;
    display: flex;
    align-items: flex-end; /* Alinha o conteúdo ao canto direito */
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    margin-left: 10px;
  }
   
  .intro h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
    border-left: solid;
    border-left-width: 8px;
  }
   
  .intro p {
    font-size: 2rem;
    color: #cfcfcf;
    margin-bottom: 20px;
  }
   
  .cta-button {
    background-color: #8e24aa;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5em;
  }
   
  .carousel {
    width: 12%;
   
   
  }
  .carousel-container {
    display: flex; /* Usar flexbox para alinhamento */
    justify-content: flex-end; /* Alinhar o carrossel à direita */
    overflow: hidden; /* Evita que o carrossel ultrapasse o contêiner */
    width: 100%; /* Ajuste a largura conforme necessário */
    display: flex;
  }
  .A {
    width: 10px;
    padding: 1px 5px; /* Aumenta o espaçamento interno do botão */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    display: flex;
    align-items: center; /* Alinha o ícone verticalmente */
    border-radius: 5px; /* Adiciona bordas arredondadas */
  }
  .C{
    width: 10px;
    padding: 5px 10px; /* Aumenta o espaçamento interno do botão */
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    display: flex;
    align-items: center; /* Alinha o ícone verticalmente */
    border-radius: 5px;
  }