/* App.css */
.container3 { /*conjunto de tudo */
    text-align: center;
    font-family: Arial, sans-serif;
}
.app1{
    height: 99vh;
}

.content4 { /*a localidade dos quadrados*/
    display: flex;
    justify-content: space-around;
}


.box5 { /* caixa de texto e letra*/
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px; width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 26%;
    margin-top: 10%;
   
}
.MM {  /* quem somos nos */
    position: absolute;
    margin-right: 21%;
    font-size: 2.4rem;
    color: #ddd;
}
@media (max-width: 768px) {
    .nav-text {
        display: none; /* Oculta o texto em telas menores */
    }
    .nav-icon {
        display: inline-block; /* Mostra os ícones em telas menores */
        font-size: 30px; /* Ajusta o tamanho dos ícones */
        margin: 0 10px; /* Margem entre os ícones */
        margin-right: -50px ;
    }
    .container3 .content4 .box5 { /*caixa de texto e letra */
        background-color: #fff;
        border: 1px solid #ddd;  
        padding: 20px; width: 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-right: 26%;
        margin-top: 10%;
        height: 10%;
       
    }
}