.container {
  background-color: #fff;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 5% auto;
  text-align: center;
}

.logo-container3 {
  position: absolute;
  top: 2%;
  left: 2%;
}

.logo2 {
  width: 15%;
}

.AAA2 {
  width: 100%;
  margin-left: 15%;
  margin-top: 10%;
}

.container .MUMU {
  color: #000;
  font-size: 1.5rem;
  width: 100%;
  padding: 2%;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 2%;
}

.container .LOLO {
  display: flex;
  flex-direction: column;
  padding: 4%;
  border-radius: 9px;
  border: 1px solid #6d6a6a;
  width: 90%;
  margin-bottom: 5%;
}

.container .BABA {
  color: #000;
}

.container .BABA a {
  color: #2575fc;
}

.KAKA {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.KAKA input {
  font-size: 1rem;
  margin-right: 2%;
  margin-left: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  padding: 3%;
}

.FRUFRU {
  background: linear-gradient(to left, #90017f, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 3%;
  border-radius: 12px;
  cursor: pointer;
  font-size: 2rem;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #90017F, #6a11cb, #2575fc);
}

.bottom-left-character3, .bottom-right-character3 {
  position: absolute;
  bottom: 5%;
}

.bottom-left-character3 {
  left: 5%;
  margin-bottom: 15%;
}

.bottom-right-character3 {
  right: 5%;
  margin-bottom: 15%;
}

.character-icon3 {
  width: 25%;
}

.H {
  color: #000;
  font-size: 2.5rem;
  position: absolute;
  margin-bottom: 25%;
}

.container .VIVI {
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  .container {
    margin-left: -10%;
    max-width: 90%;
    width: 50%;
    height: 0%;
  }
  .H {
    color: #000;
    font-size: 40px;
    margin-bottom: 100px; /* Aumentei o margin-bottom para descer mais */
    position: relative; /* Removi a propriedade absolute */
  }
  
  .bottom-left-character3, .bottom-right-character3 {
    display: none; /* Escondendo as imagens */
  }
}
