.container {
  text-align: center;
  background: #fff;
  height: 590px;
  width: 100px;
  display: flex;
  margin-left: 290px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  border-radius: 15px;
}
.logo-container1 {
  position: absolute;
  top: 20px;
  left: 20px;
}
.container .Pe{
  color:#000
}
.container .Pe a{
  color: #2575fc
}
.logo1 {
  width: 150px;
}
.AAA{
  width: 1470px;
  margin-left: 215px;
  margin-top: 170px;
}
 .container .Titu {
  color: #000;
  font-size: 40px;
  margin-bottom: 500px;
  position: absolute;
}
.container .OP {
  color:#000;
  font-size: 22px;
}
.code-inputs input {
  width: 30px;  /* Ajuste aqui para controlar a largura */
  height: 30px; /* Ajuste aqui para controlar a altura */
  font-size: 10px;
  text-align: center;
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}   
.confirmar {
  background: linear-gradient(to left, #90017f, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 2rem;
}
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom,#90017F, #6a11cb, #2575fc);
}
/* Inputs do código */
.Form .code-inputs input {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bottom-left-character1, .bottom-right-character1 {
  position: absolute;
  bottom: 20px;
}

.bottom-left-character1 {
  left: 250px;
  margin-bottom: 240px;
}

.bottom-right-character1 {
  right: 250px;
  margin-bottom: 240px;
  
}
.character-icon1 {
  width: 490px;
}
/* Mensagem de confirmação */
.confirmation-message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* Balão de mensagem */
.message-bubble {
  background-color: #f0f0f0;
  border-radius: 80px;
  padding: 120px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -40px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
/* Botões no balão */
.message-bubble .E {
  margin: 50px;
}
.botãoconfirmar {
background: linear-gradient(to left, #90017f, #6a11cb, #2575fc);
color: white;
border: none;
padding: 4px 15px;
border-radius: 10px;
cursor: pointer;
font-size: 2rem;
}
.reset-password-container {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px; /* Ajuste o valor conforme necessário */
}
.required {
width:  40px;  /* Ajuste aqui para controlar a largura */
height: 50px; /* Ajuste aqui para controlar a altura */  
}