/* Background geral */
.login-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: rgb(144, 1, 127);
  background: linear-gradient(180deg, rgba(144, 1, 127, 1) 30%, rgba(5, 183, 231, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Logo no canto superior esquerdo */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 150px;
}

/* Formulário centralizado com fundo branco */
.form-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Botão de login */
.login-button {
  background:rgba(144, 1, 127, 1);
  border-radius: 50px;
  padding: 10px 40px;
  color: white;
  border: none;
  cursor: pointer;
  max-width: 200px;
  margin-left: 60px;
}

/* Personagens pixelados no canto inferior esquerdo e direito */
.bottom-left-character, .bottom-right-character {
  position: absolute;
  bottom: 20px;
}

.bottom-left-character {
  left: 100px;
  margin-bottom: 80px;
}

.bottom-right-character {
  right: 100px;
  margin-bottom: 80px;
}

.character-icon {
  width: 360px;
}

/* Título do formulário */
.titulo {
  font-weight: 800;
  background: -webkit-linear-gradient(180deg, rgba(144, 1, 127, 1) 0%, rgba(5, 183, 231, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}