.pagina-criar-projeto-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(160, 50, 145);
    padding: 10px;
    color: #fff;
    z-index: 1000;
    border-bottom: solid;
  }
  
  .pagina-criar-projeto-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background: linear-gradient(to bottom, #90017F, #6a11cb, #2575fc);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pagina-criar-projeto-title {
    text-align: center;
    color: #000;
    margin-bottom: 30px;
  }
  
  .pagina-criar-projeto-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .pagina-criar-projeto-field {
    margin-bottom: 20px;
  }
  
  .pagina-criar-projeto-input {
    padding: 20px;
    border-radius: 9px;
    border: 2px solid #000;
    width: 100%;
  }
  
  .pagina-criar-projeto-button {
    padding: 15px;
    background: #6b47dc;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  