.perfil-container {
    background: linear-gradient(to bottom, #90017F, #6a11cb, #2575fc);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .perfil-title {
    text-align: center;
    color: #000;
    height: 100px;
    padding: -100px;
  }
  
  .perfil-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    margin: -60px;
    margin-left: 200px;
    width: 1010px;
  }
  
  .perfil-field {
    margin-bottom: 29px;
  }
  
  .perfil-input {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 9px;
    border: 4px solid #000;
    width: 1000px;
  }
  
  .perfil-button {
    padding: 10px;
    background: #6b47dc;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
  }
  
  .perfil-error {
    color: red;
    font-size: 12px;
  }
  
  .perfil-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 50, 145);
    padding: 25px;
    color: #fff;

  }
  .perfil-header .perfil-nav-link{
    margin-left: 160px;
    justify-content: space-between ;
  }
  .perfil-logo img {
    width: 140px;
  }
  
  .perfil-nav {
    display: flex;
  }
  
  .perfil-header .perfil-nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 2.4rem;
  }
  
  .perfil-search {
    display: flex;
    align-items: center;
  }
  
  .perfil-search-input {
    padding: 5px 10px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
  }
  
  .perfil-login-btn {
    background-color: #00bfa5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
  }
  