.container {
  text-align: center;
  background: #fff;
  height: 590px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  border-radius: 15px;
}
.ÇUCA{
  height: 82.7vh;
}
.logo-container1 {
  position: absolute;
  top: 20px;
  left: 20px;
}
.container .Pe{
  color:#000
}
.container .Pe a{
  color: #2575fc
}
.logo1 {
  width: 150px;
}
.AAA{
  width: 1470px;
  margin-left: 215px;
  margin-top: 170px;
}
 .container .Titu {
  color: #000;
  font-size: 40px;
  margin-bottom: 260px;
  position: absolute;
}
.container .OP {
  color:#000;
  font-size: 22px;
  margin-top: 15%;
}
.code-inputs input {
  width: 30px;  /* Ajuste aqui para controlar a largura */
  height: 30px; /* Ajuste aqui para controlar a altura */
  font-size: 10px;
  text-align: center;
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}  
.confirmar {
  background: linear-gradient(to left, #90017f, #6a11cb, #2575fc);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 2rem;
}

/* Inputs do código */
.Form .code-inputs input {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.bottom-left-character1, .bottom-right-character1 {
  position: absolute;
  bottom: 20px;
}
 
.bottom-left-character1 {
  left: 250px;
  margin-bottom: 240px;
}
 
.bottom-right-character1 {
  right: 250px;
  margin-bottom: 240px;
 
}
.character-icon1 {
  width: 490px;
}
/* Mensagem de confirmação */
.confirmation-message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* Balão de mensagem */
.message-bubble {
  background-color: #f0f0f0;
  border-radius: 80px;
  padding: 120px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -40px;
  width: 100%;
  max-width: 300px;
  text-align: center;
}
/* Botões no balão */
.message-bubble .E {
  margin: 50px;
}
.botãoconfirmar {
background: linear-gradient(to left, #90017f, #6a11cb, #2575fc);
color: white;
border: none;
padding: 4px 15px;
border-radius: 10px;
cursor: pointer;
font-size: 2rem;
}
.reset-password-container {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px; /* Ajuste o valor conforme necessário */
}
.required {
width:  40px;  /* Ajuste aqui para controlar a largura */
height: 50px; /* Ajuste aqui para controlar a altura */  
}
@media (max-width: 1720px) {
  .AAA{
    width: 80%;
    margin-left: 13%;
    
  }
     
  .container {
    
    max-width: 150%;
    width: 8%;
    height: 0%;
    text-align: center;
  }
  .Form{
    flex-direction: column;
      gap: 3%; /* Reduzindo o espaço entre elementos */
  }
  .AAA .container {
   
    max-width: 150%;
    width: 100%;
    height: 10%;
    text-align: center;
  }
  .Titu {
    color: #000;
    font-size: 40px;
    margin-bottom: 100px; /* Aumentei o margin-bottom para descer mais */
    position: relative; /* Removi a propriedade absolute */
  }
  .bottom-left-character1,
  .bottom-right-character1 {
      width: 16%;
      max-width: 500px; /* largura máxima */
      height: auto; /* altura automática para manter a proporção */
      display: block; /* exibe por padrão */
      position: absolute;
  }
  .bottom-left-character1 {
    bottom: 30%; /* posicione no canto inferior esquerdo */
    left: 12%; /* ajusta conforme necessário */
   
  }
   
  .bottom-right-character1 {
    bottom: 30%; /* posicione no canto inferior direito */
    right: 12%; /* ajusta conforme necessário */
  }
  @media (max-width: 768px) {
    .bottom-left-character1,
    .bottom-right-character1 {
        width: 8%;
        transform: translate(-10%, 10%) scale(1.1);
        display: none; /* oculta os elementos em telas menores que 768px */
    }
}
  }