@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(144, 1, 127);
  background: linear-gradient(180deg, rgba(144, 1, 127, 1) 0%, rgba(5, 183, 231, 1) 100%);
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center
}

input {
  background-color: #D9D9D9;
}

.titulo {
  font-weight: 800;
  color: #90017F;
}

.logo {
  width: 12%;
}

