@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: rgb(144, 1, 127);
  background: linear-gradient(180deg, rgba(144, 1, 127, 1) 0%, rgba(5, 183, 231, 1) 100%);
  width: 100%;
  height: 100vh;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center
}

input {
  background-color: #D9D9D9;
}

.titulo {
  font-weight: 800;
  background: -webkit-linear-gradient(180deg, rgba(144, 1, 127, 1) 0%, rgba(5, 183, 231, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  width: 12%;
}

.input-single {
  position: relative;
  margin: 8px 0;
}

label {
  position: absolute;
  left: 5px;
  bottom: 5px;
  transition: all 0.2s;
}

input::placeholder{
  color: black;
  opacity: 1;
}

.button-color{
  background: -webkit-linear-gradient(180deg, rgba(144, 1, 127, 1) 0%, rgba(5, 183, 231, 1) 100%);
  font-weight: 800;
}
